body {
    margin: 2%;
    border: 1px solid black;
    background-color: #b3b3b3;
}

#image {
    line-height: 650px;
    width: 650px;
    height: 650px;
    border: 5px solid black;
    margin: 0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
    background-size: 100%;
    font-size: 150%;
    margin-bottom: 25px;
}

.preview {
    width: 10%;
    margin-left: 17%;
    border: 10px solid black;
}

.preview:focus {
    outline: 2px solid blue;
}

.preview img {
    width: 400px;
    height: 400px;
}
